.header__container{
    display: flex;
    flex-direction: row;
    min-height: $size-extrahigh;    
}

.header__title{
    font-size: $font-heading;
    margin-left: $size-regular;
}

.header__cart__container{
    display: flex;
    flex-direction: row;
}

.header__container__left{
    width: 50%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: flex-start;    
    align-items: center;
}

.header__container__right{
    width: 50%;
    background-color: white;    
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    font-weight: bolder;
}

.header__container__right .items{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: $font-message;
    column-gap: $size-regular;
    margin-right: $size-regular;
}

.header__cart__container img{
    height: $size-extrasmall;
    width: $size-extrasmall;
}

img:hover{
    cursor: pointer;
}

.header__container h1:hover{
    cursor: pointer;
}

.header__container a:hover{
    cursor: pointer;
    text-decoration: underline;
}

@media (max-width:600px){
    .header__container{
        flex-direction: column;
    }

    .header__title{
        margin: 0 auto;
    }

    .header__container__left{
        width: 100%;    
        padding: $size-extrasmall 0;
    }

    .header__container__right{
        width: 100%;
        padding: $size-extrasmall 0;
    }

    .header__container__right .items{
        margin: 0 auto;
    }
}