.login{
    height: 50vh;
}

.login__container{    
    width: max-content;
    height: 100%;
    margin: 0 auto;
    margin-top: $size-larger;     
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;   
    background-color: darkgray;
    padding: 0 $size-high;
}

.login__container input{
    border-style: none;
    border-radius: 0;
    padding: $size-tiny $size-small;
    color: black;
}