*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

body{
    background-color: lightgray;
    font-family: Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
}