$font-heading:4rem;
$font-subheading:2rem;
$font-message:1.5rem;

$size-larger:15rem;
$size-large:10rem;
$size-extrahigh:6rem;
$size-high:5rem;
$size-regular:3rem;
$size-extrasmall:2rem;
$size-small:1rem;
$size-tiny:0.5rem;